<header>
    <mat-toolbar class="header">
        <div class="logo-container">
            <img src="logo.jpg" alt="Logo" class="logo" />
            <span class="app-title">{{"app-title" | translate}}</span>
        </div>
        <nav class="nav-links">
            <button mat-icon-button routerLink="/">
                <mat-icon style="color: white">home</mat-icon>
            </button>
            <a mat-button routerLink="/appointments">{{"navbar.appointments" | translate}}</a>
            <a mat-button routerLink="/hairoffers">{{"navbar.hairoffers" | translate}}</a>

            <div *ngIf="authService.isLoggedIn(); else loggedOut">
                <span>{{"welcome-user" | translate }}, {{ username }}! [{{ 'roles.' + userRole | translate }}]</span>
                <button mat-icon-button routerLink="/profile">
                    <mat-icon style="color: white">account_circle</mat-icon>
                </button>
                <button mat-icon-button routerLink="/logout">
                    <mat-icon style="color: white">logout</mat-icon>
                </button>
            </div>
            <ng-template #loggedOut>
                <button mat-icon-button routerLink="/login">
                    <mat-icon style="color: white">login</mat-icon>
                </button>
            </ng-template>
            <app-language-switcher />
        </nav>
    </mat-toolbar>
</header>