<form [formGroup]="loginForm" (ngSubmit)="loginAction()" class="login-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{"login.header-title" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-fields">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>{{"login.fields.username" | translate}}</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error
                        *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
                        {{"login.errors.username" | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>{{"login.fields.password" | translate}}</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-error
                        *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                        {{"login.errors.password" | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="loginForm.invalid">{{"login.button-title" | translate}}</button>
        </mat-card-actions>
        <mat-card-content>
            <p class="registration-notice">
                {{"register.pre-desc" | translate}} <a routerLink="/register">{{"register.button-title" |
                    translate}}</a>
            </p>
        </mat-card-content>
    </mat-card>