<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{"register.header-title" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-fields">
                <mat-form-field appearance="fill">
                    <mat-label>{{"register.fields.name" | translate}}</mat-label>
                    <input matInput formControlName="firstname" required>
                    <mat-error *ngIf="registerForm.get('firstname')?.hasError('required')">
                        {{"register.errors.name" | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"register.fields.surname" | translate}}</mat-label>
                    <input matInput formControlName="surname" required>
                    <mat-error *ngIf="registerForm.get('surname')?.hasError('required')">
                        {{"register.errors.surname" | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"register.fields.email" | translate}}</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                        {{"register.errors.email" | translate}}
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
                        {{"register.errors.email-format" | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"register.fields.username" | translate}}</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                        {{"register.errors.username" | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"register.fields.password" | translate}}</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                        {{"register.errors.password" | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"register.fields.phone" | translate}}</mat-label>
                    <input matInput formControlName="phoneNumber" required>
                    <mat-error *ngIf="registerForm.get('phoneNumber')?.hasError('required')">
                        {{"register.errors.phone" | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="registerForm.invalid">{{"register.button-title" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</form>