<mat-card>
    <mat-card-header>
        <mat-card-title>{{ 'hair-offer-chart.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="display: block; height: 400px;"> <canvas *ngIf="barChartData.datasets[0].data.length > 0" baseChart
                [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
            </canvas>
            <div *ngIf="barChartData.datasets[0].data.length === 0" style="text-align: center; padding: 20px;">
                <p>{{ 'hair-offer-chart.no-data' | translate }}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>